*{
    margin: 0;
    padding: 0;
    font-family: serif;
    block-size: border-box;
}
html{
    font-size: 10px;
}
body{
    height: 220vh;
    background: linear-gradient(180deg, black, rgb(0, 0, 75));
}
#hed1{
    width: 100%;
    height: 13vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 3;
}
#logo{
    width: 5%;
    height: 10vh;
    background-color: transparent;
    position: relative;
    left: 2%;
}
#logo #li{
    font-size: 5.5rem;
    position: relative;
    background-size: cover;
    z-index: 555;
    color: white;
    left: 49%;
    font-family:fantasy;
}
#lt{
    position: relative;
    color: white;
    left: 2.2%;
    font-family:fantasy;
    font-size: 2.2rem;
    text-shadow: 0px 0px 30px rgb(112, 0, 116);
    transition: color 0.3s , text-shadow 0.3s;
    transition: opacity 0.2s;
}

#href1{
    transition: opacity 0.2s;
    font-family:fantasy;
    font-size: 2.2rem;
    color: white;
    left: 3%;
    opacity: 0.5;
    position: relative;
    text-decoration: none;
}
#href1:hover{
    opacity: 0.7;
}
#i1{
    font-size: 2.5rem;
    position: relative;
    color: white;
    left: 62.5%;
    cursor: pointer;
    z-index: 3;
    color: white;
    height: 6vh;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s, transform 0.3s;
    transform: scale(1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#inp1{
    position: absolute;
    right: 23%;
    width: 0%;
    height: 6vh;
    border: 0px;
    z-index: 1;
    outline: 0px;
    transition: width 0.3s, right 0.3s;
    color: rgb(148, 147, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
}
#inp1::placeholder{
    color: rgb(148, 147, 255);
}
#but{
    position: absolute;
    border: 1px solid white;
    left: 79%;
    height: 6vh;
    cursor: pointer;
    background-color: transparent;
    color: white;
    width: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.6rem;
    border-radius: 7px;
    font-weight: 100;
    letter-spacing: 0.5px;
    opacity: 0.5;
    transition: border-radius 0.3s;
    transition: opacity 0.3s, border-radius 0.3s, width 0.5s;
}
#but:hover{
    opacity: 0.7;
}
#sec{
    width: 5%;
    position: absolute;
    height: 6vh;
    border-radius: 7px;
    left: 90%;
    background-color: transparent;
    border: 1px solid white;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    opacity: 0.5;
}
#sec:hover{
    opacity: 0.7;
}
#sub{
    position: fixed;
    width: 29%;
    right: -29%;
    height: 100vh;
    top: 0;
    z-index: 666;
    background-color: rgb(0, 0, 114);
    transition: right 0.3s;
    opacity: 0.99;
}
#i2{
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    left: 3%;
    top: 0.5vh;
    color: white;
}
#i3{
    font-size: 3rem;
    color: white;
    position: absolute;
    left: 96%;
    opacity: 0.5;
    border: 1px solid white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 3%;
}
#i3:hover{
    opacity: 0.7;
    cursor: pointer;
}
#old{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 777;
    top: 0;
    transform: scale(0.2);
    top: -100%;
    transition: transform 0.3s, top 0.3s, background 0.3s;
}
#rek1{
    width: 70%;
    background-color: white;
    height: 55vh ;
    position: absolute;
    left: 14.6%;
    background-image: url(./HF-Image/hay2.jpg);
    background-size: cover;
    border-radius: 25px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 13px 0.8px black ;
    transition: transform 0.3s, z-index 0.3s , left 0.3s, height 0.5s, width 0.4s;
}
#rek2{
    width: 70%;
    background-color: white;
    height: 55vh;
    position: absolute;
    left: -1%;
    background-image: url(./HF-Image/hay5.jpg);
    background-size: cover;
    transform: scale(0.8);
    border-radius: 25px;
    z-index: 5;
    box-shadow: 0px 0px 13px 0.4px black ;
    transition: transform 0.3s, z-index 0.3s , left 0.3s, height 0.5s, width 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rek3{
    width: 70%;
    height: 55vh;
    height: 55vh;
    background-color: white;
    position: absolute;
    left: -13.5%;
    background-image: url(./HF-Image/hay.jpg);
    background-size: cover;
    transform: scale(0.6);
    border-radius: 25px;
    z-index: 0;
    box-shadow: 0px 0px 13px 0.4px black ;
    transition: transform 0.3s, z-index 0.3s , left 0.3s, height 0.5s, width 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rek4{
    width: 70%;
    height: 55vh;
    background-color: white;
    position: absolute;
    left: 30%;
    background-image: url(./HF-Image/hay3.jpg);
    background-size: cover;
    transform: scale(0.8);
    border-radius: 25px;
    z-index: 5;
    box-shadow: 0px 0px 13px 0.4px black ;
    transition: transform 0.3s, z-index 0.3s , left 0.3s, height 0.5s, width 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rek5{
    width: 70%;
    height: 55vh;
    background-color: white;
    position: absolute;
    left: 43.5%;
    background-image: url(./HF-Image/hay4.jpg);
    background-size: cover;
    transform: scale(0.6);
    border-radius: 25px;
    z-index: 0;
    box-shadow: 0px 0px 13px 0.4px black ;
    transition: transform 0.3s, z-index 0.3s , left 0.3s, height 0.5s, width 0.4s;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.r{
    font-size: 3rem;
}






::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: linear-gradient(180deg, black, rgb(0, 0, 75));
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, white , transparent );
}
#het{
    font-size: 4rem;
    background-color:  rgb(0, 0, 75);
    color: white;
    padding: 1.5% 3%;
    position: absolute;
    top: 65.6vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 44.5%;
    cursor: pointer;
    animation: lll 4s infinite;
    opacity: 0.9;
    z-index: 11;
    transform: scale(0.6);
    transition: top 0.4s , left 0.4s, border-top 0.3s;
}








/* 1165 media reklam  */

/* hire is Media  */
@media screen and (max-width: 25000px) {
    #i4f{
        display: none;
    }
    #ilogos{
        display: none;
    }
}
@media screen and (max-width: 1275px) {
    #but{
        height: 4vh;
        left: 79%;
        width: 14%;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
    }
    #i1{
        height: 4vh;
    }
    #inp1{
        height: 4vh;
    }
    #i3{
        top: 10vh;
        left: 95.9%;
        font-size: 2rem;
        width: 2.5%;
        height: 5vh;
    }
}
@media screen and (max-width: 1220px) {
    #but{
        height: 4vh;
        left: 80%;
        width: 13%;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
    }
    #i1{
        height: 4vh;
    }
    #inp1{
        height: 4vh;
    }
    #i3{
        top: 10vh;
        left: 95.9%;
        font-size: 2rem;
        width: 2.5%;
        height: 5vh;
    }
}
@media screen and (max-width: 1140px) {
    #but{
        height: 4vh;
        left: 81%;
        width: 12%;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
    }
    #i1{
        height: 4vh;
    }
    #inp1{
        height: 4vh;
    }
    #i3{
        top: 10vh;
        left: 95.9%;
        font-size: 2rem;
        width: 2.5%;
        height: 5vh;
    }
}
@media screen and (max-width: 1030px) {
    #but{
        height: 4vh;
        left: 82%;
        width: 11%;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
    }
    #i1{
        height: 4vh;
        display: none;
    }
    #inp1{
        height: 4vh;
        display: none;

    }
    #lt{
        display: none;
    }
    #href1{
        left: 4%;
    }
    #i3{
        top: 4.5vh;
        left: 78.7%;
        font-size: 2rem;
        width: 2.5%;
        height: 4vh;
    }
    #rek1{
        height: 45vh;
    }
    #rek2{
        height: 45vh;
    }
    #rek3{
        height: 45vh;
    }
    #rek4{
        height: 45vh;
    }
    #rek5{
        height: 45vh;
    }
    #het{
        top: 56vh;
    }
}
@media screen and (max-width: 1000px) {
    #but{
        height: 4vh;
        left: 82%;
        width: 11%;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
    }
    #i1{
       display: none;
    }
    #inp1{
        height: 4vh;

    }
    #lt{
        display: none;
    }
    #href1{
        left: 4%;
    }
    #i3{
        top: 4.5vh;
        left: 78.5%;
        font-size: 2rem;
        width: 2.5%;
        height: 4vh;
    }
}

@media screen and (max-width: 950px) {
    #but{
        height: 4vh;
        left: 83%;
        width: 10%;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
    }
    #i1{
        height: 4vh;
    }
    #inp1{
        height: 4vh;
        right: 20%;
    }
    #lt{
        left: 3%;
    }
    #href1{
        left: 4%;
    }
    #i3{
        top: 4.5vh;
        left: 79.6%;
        font-size: 2rem;
        width: 2.5%;
        height: 4vh;
    }
}
@media screen and (max-width: 880px) {
    #but{
        height: 4vh;
        left: 83%;
        width: 10%;
        display: none;
    }
    #sec{
        height: 4vh;
        position: absolute;
        left: 93.5%;
        display: none;
    }
    #i1{
        height: 4vh;
    }
    #inp1{
        height: 4vh;
        right: 20%;
    }
    #lt{
        display: none;
    }
    #href1{
        left: 4%;
        display: none;
    }
    #i3{
        display: none;
    }
    #i4f{
        display: block;
        color: white;
        font-size: 3rem;
        position: relative;
        left: 88%;
        cursor: pointer;
        z-index: 778;
        transition: font-size 0.4s;
    }
    #li{
        z-index: 779;
    }
    #ilogos{
        color: white;
        font-size: 3rem;
        position: relative;
        left: 0%;
        background-color: transparent;
        width: 5%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        z-index: 500;
        transition: left 0.5s , font-size 0.5s;
    }
}
@media screen and (max-width: 793px) {
    #rek1{
        height: 30vh;
    }
    #rek2{
        height: 30vh;
    }
    #rek3{
        height: 30vh;
    }
    #rek4{
        height: 30vh;
    }
    #rek5{
        height: 30vh;
    }
    #het{
        top: 41.4vh;
    }
    #i4f{
        left: 80%;
        font-size: 2.5rem;
    }
}
@media  screen and (max-width: 600px) {
    #li{
        position: absolute;
        right: 80%;
    }
    #ilogos{
        left: 14%;
        position: absolute;
        font-size: 4rem;
    }
    #i4f{
        font-size: 2rem;
        left: 86%;
    }
}

@media  screen and (max-width: 500px ) {
    #rek1{
        height: 25vh;
    }
    #rek2{
        height: 25vh;
    }
    #rek3{
        height: 25vh;
    }
    #rek4{
        height: 25vh;
    }
    #rek5{
        height: 25vh;
    }
    #het{
        top: 37vh;
        left: 45%;
        transform: scale(0.7);
    }
    #ilogos{
        left: 20%;
        position: absolute;
        font-size: 4rem;
    }
}
@media  screen and (max-width: 390px ) {
    #rek1{
        height: 20vh;
    }
    #rek2{
        height: 20vh;
    }
    #rek3{
        height: 20vh;
    }
    #rek4{
        height: 20vh;
    }
    #rek5{
        height: 20vh;
    }
    #het{
        top: 32vh;
        left: 45%;
        transform: scale(0.7);
    }
    #ilogos{
        left: 16%;
        position: absolute;
        font-size: 4rem;
    }
}
@media screen and (max-width : 361px) {
    #ilogos{
        left: 19%;
    }
    #i4f{
        left: 80%;
        font-size: 2.5rem;
    }
}
@media  screen and (max-width: 280px ) {
    #i4f{
        position: relative;
        right: 25%;
    }
    #rek1{
        height: 18vh;
    }
    #rek2{
        height: 18vh;
    }
    #rek3{
        height: 18vh;
    }
    #rek4{
        height: 18vh;
    }
    #rek5{
        height: 18vh;
    }
    #het{
        top: 30vh;
        left: 43%;
        transform: scale(0.7);
    }
    #ilogos{
        left: 25%;
        position: absolute;
        font-size: 4rem;
    }
}